@import 'colors.scss';
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-family: "Pt Sans";
}

#main_wrap {
    display: flex;
    flex-grow: 1;
    position: relative;
}